{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="results">
        <h1>{{ title }}</h1>
        {% for i in data %}
            <hr width="100%" size="2">
            <p>Link:</p>
            <a href="{{ i.0 }}">{{ i.0 }}</a>
            <p>Title:</p>
            <p>{{ i.1 }}</p>
            <p>Description:</p>
            <p>{{ i.2 }}</p>
            <hr width="100%" size="2" color="blue" noshade>
        {% endfor %}
        <a href="{% url 'download' %}"><button class="btn btn-success" type="submit">Stáhnout</button></a>
    </div>
{% endblock %}
